<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                        http://www.springframework.org/schema/beans/spring-beans.xsd  
	                        http://www.springframework.org/schema/mvc 
	                        http://www.springframework.org/schema/mvc/spring-mvc.xsd 
	                        http://www.springframework.org/schema/context 
	                        http://www.springframework.org/schema/context/spring-context.xsd 
	                        http://www.springframework.org/schema/aop 
	                        http://www.springframework.org/schema/aop/spring-aop.xsd 
	                        http://www.springframework.org/schema/tx 
	                        http://www.springframework.org/schema/tx/spring-tx.xsd">
   	<!-- 1.配置JobDetailFactoryBean，用来生成JobDetail，JobDetail包含任务类和任务执行时依赖的数据 -->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
	    <property name="jobClass" value="com.spring.quartz.MyJob"></property>
	    <property name="jobDataMap">
	        <map>
	            <entry key="username" value="张珊珊"></entry>
	        </map>
	    </property>
	</bean>
    
    
    <!-- 2-1.简单触发器 -->
	<bean id="simpleTrigger"  class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">  
	    <property name="jobDetail" ref="jobDetail" />
	    <property name="repeatInterval" value="5000" /><!-- 固定频率:ms -->
	</bean> 
	
	<!-- 2-2.也可以使用cron表达式指定调度规则 -->
	<bean id="cronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
	    <property name="jobDetail" ref="jobDetail" />  
	    <property name="cronExpression" value="0/5 * * * * ?" />
	</bean>
	    
	<!-- 3.配置调度器 -->    
    <bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
    <property name="triggers">
        <list>
            <!-- <ref bean="simpleTrigger" /> -->
            <ref bean="cronTrigger" />
        </list>
    </property>
</bean>
	    
</beans>