<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.QuestionMapper">

	
	<resultMap type="Question" id="resultMap1">
		<id property="id" column="q_id"/>
		<result property="description" column="description"/>
		
		<!-- 查询对象属于一对多关系的时候使用 -->
		<collection property="answerList" ofType="Answer">
			<id property="id" column="a_id"/>
			<result property="content" column="content"/>
		</collection>
	</resultMap>
	
	<select id="selectById" resultMap="resultMap1" parameterType="long">
		select q.id as q_id ,q.description,a.id as a_id,a.content
		from T_Questions q left join T_Answers a on q.Id=a.questionId
		where q.id=#{id}
	</select>
</mapper>